<div class="container">
	<div class = "row">
		<div class = "span9">
		<h1>List of Pictures</h1>
		<table>
			<tr>
			<%	@pictures.each do |picture| %>
			    <td>
			      <a href="/pictures/<%= picture.id%>"><img width = 500 src="<%=picture.url%>"></a>
			    </td>
			<% end %>
			</tr>
		</table>
		</div>
		<div class = "span3">
			<h2>Upload a Snap</h2>
			<p>To add a photo, click "add new" up top and paste in a link to the photo and a little note :-)</p>
		</div>
	</div>
</div>