<h1>Picture Details</h1>

<div>
  <img src="<%= @picture.url %>"/>
  <p><%= @picture.note %></p>
</div>

<a href="/pictures/delete/<%= @picture.id %>/">Delete</a>
<%= link_to "edit", edit_url(@picture.id) %>
<a href="/pictures">Back</a>

